$app-background-color: rgba(209, 215, 208, 0.65);
$basic-text-color: rgba(43, 43, 44, 0.99);
$test-text-color: rgba(236, 79, 30, 0.97);
.App {
  background-color: $app-background-color;
  font-size: 3vw;
}